html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.full {
    background-color:rgb(122, 31, 31);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    display: table;
    margin: 0;
    top: 0;
}